version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - "JustSamuel"
    groups:
      golang-dependencies:
        patterns:
          - "*"
  - package-ecosystem: npm
    directory: "/client"
    schedule:
      interval: weekly
    open-pull-requests-limit: 2
    assignees:
      - JustSamuel
    rebase-strategy: auto
    groups:
      dev-deps:
        dependency-type: development
        patterns:
          - "*"
        update-types:
          - major
          - minor
          - patch
