definitions:
  main.CompileHTMLRequest:
    properties:
      html:
        example: <html><body><h1>Hello, world!</h1></body></html>
        type: string
    type: object
  main.CompileRequest:
    properties:
      tex:
        example: |-
          \documentclass{article}
          \begin{document}
          Hello, world!
          \end{document}
        type: string
    type: object
  main.ErrorResponse:
    properties:
      error:
        example: Invalid request, must provide LaTeX template
        type: string
    type: object
info:
  contact: {}
  description: A simple API to compile LaTeX templates and HTML documents to PDF
  title: PDF Compiler
  version: "1.0"
paths:
  /compile:
    post:
      consumes:
      - application/json
      description: Compiles a LaTeX template and returns a PDF
      parameters:
      - description: LaTeX template
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/main.CompileRequest'
      produces:
      - application/pdf
      responses:
        "200":
          description: PDF file
          schema:
            type: string
        "400":
          description: Invalid request
          schema:
            $ref: '#/definitions/main.ErrorResponse'
        "500":
          description: Compilation error
          schema:
            $ref: '#/definitions/main.ErrorResponse'
      summary: Compile LaTeX template
      tags:
      - Compile
  /compile-html:
    post:
      consumes:
      - application/json
      description: Compiles an HTML document and returns a PDF using headless Chrome
      parameters:
      - description: HTML document
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/main.CompileHTMLRequest'
      produces:
      - application/pdf
      responses:
        "200":
          description: PDF file
          schema:
            type: string
        "400":
          description: Invalid request
          schema:
            $ref: '#/definitions/main.ErrorResponse'
        "500":
          description: Compilation error
          schema:
            $ref: '#/definitions/main.ErrorResponse'
      summary: Compile HTML to PDF
      tags:
      - Compile
  /health:
    get:
      description: Returns 200 OK
      responses:
        "200":
          description: OK
      summary: Health check
      tags:
      - Health
swagger: "2.0"
